.nav-bar{
    display: flex;
    place-items: center;
    justify-content: space-between;
    /* background-color: lightblue; */
    height: 3.15rem;
}

.login-signup{
    display: flex;
    width: 14.375rem;
    place-items: center;
    justify-content: space-between;
}

.signup-button{
    padding: 0.675rem 2rem;
    border-radius: 0.75rem;
    background-color: #FF7048;
    color: white;
    border: none;
}

.hero-section{
    margin-top: 2.25rem;
    display: flex;
    height: 75vh;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.hero-pic{
    position: absolute;
    z-index: -1;
    
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.hero-title, .weather{
    margin-left: 6.25rem;
    align-self: flex-start;
}

.hero-title{
    margin-top: 6.25rem;
    font-size: 4.375rem;
    font-weight: bold;
    width: 500px;
    line-height: 5rem;
}

.weather{
    margin-top: 2.375rem;
}

.weather-temp{
    font-size: 1.125rem;
    font-weight: 600;
    color: #24201daf;
}

.popup{
    height: 7rem;
    width: 70%;
    background-color: white;
    position: absolute;
    bottom: -2.5rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 8px #9c9c9c21 ;
}

.popup-content, .popup-search{
    margin: 1.8rem 3.125rem;
}

.popup-content{
    /* background-color: lightblue; */
    margin-right: 0;
    display: flex;
    height: 55px;
}

.popup-search{
    background-color: #ff7048b0;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content p{
    margin: 0;
}

.location,
.activities,
.date{
    padding-right: 40px;
    display: flex;
    margin-right: 40px;
    border-right: 2px solid #9c9c9caf;
}

.date{
    border: none;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.right-side{
    width: 30px;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.popup-title{
    font-size: 1.25rem;
    font-weight: bold;

}

.popup-subtitle{
    font-size: 0.8rem;
    font-weight: 500;
    color: #24201daf;

}

.popup-icon{
    width: 20px;
    height: 20px;
}

.search-btn{
    width: 25px;
    height: 25px;
}